    <div class="container" id="page-content">
        <div class="row">
                <!--    headshot    -->
                <div class="col-sm-4">
                      <img class="img-fluid" id=headshot src="images/headshot.jpg" alt="picture of young rillstone skating">
                </div>

                <div class="col-sm-8">
                    <!--  bio   -->
                    <h2>About me</h2>
                    <p>Blah blah blah bio stuff so there you go!</p>

                    <!--   links     -->
                    <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/meaghan-rillstone-b00034168/" target="_blank">Linkedin</a>
                    <a class="btn btn-outline-dark" href="https://github.com/mrillstone" target="_blank">GitHub</a>
                    <a class="btn btn-outline-dark" href="mailto:meaghan.rillstone@gmail.com" target="_blank">email</a> 
                </div>
        </div>      
    </div>
